@font-face {
  font-family: computo;
  src: url(./../assets/fonts/computo.ttf);
}

#output-dom {
  display: none;
  text-align: center;
}

body {
  background-image: url(./../assets/images/wallpaper-1-1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: computo;
}

label, p, button{
  color: rgb(0, 0, 0);
}

.container {
  height: 500px;
  background-color: rgba(150, 150, 150, 0.671);
}

.jumbotron {
  text-align: center;
}

.output-text {
  color: rgb(185, 12, 0);
}

.form-section {
  display: flex;
  text-align: center;
  flex-direction: column;
}